Hannah Reagan

In [49]:
import pandas as pd
import sqlite3

In [50]:
conn = sqlite3.connect('../../data/im.db')
df = pd.read_sql("""SELECT * FROM movie_ratings;""", conn)

In [51]:
df = pd.read_sql("""SELECT * FROM directors;""", conn)

In [52]:
q = """
SELECT *
FROM movie_ratings
;
"""
#pd.read_sql(q, conn)

We are joining three tables ( persons, directors,movie ratings) Using movie_id to join directors and movie ratings and person_id to combine that new table to the persons table.

In [53]:
q = """
SELECT *
FROM movie_ratings
JOIN directors
    USING(movie_id)
JOIN Persons
    ON persons.person_id = directors.person_id
;
"""
pd.read_sql(q, conn)
df_directors = pd.read_sql(q, conn)
df_directors

,movie_id,averagerating,numvotes,person_id,person_id,primary_name,birth_year,death_year,primary_profession
0,tt10356526,8.3,31,nm8353804,nm8353804,Sukh Sanghera,NaN,NaN,"director,cinematographer,location_management"
1,tt10356526,8.3,31,nm8353804,nm8353804,Sukh Sanghera,NaN,NaN,"director,cinematographer,location_management"
2,tt10384606,8.9,559,nm9250842,nm9250842,Caolan Robertson,NaN,NaN,"producer,director,writer"
3,tt10384606,8.9,559,nm9932562,nm9932562,George Llewelyn-John,NaN,NaN,"director,cinematographer,writer"
4,tt1042974,6.4,20,nm1915232,nm1915232,Marcel Grant,NaN,NaN,"director,writer,producer"
...,...,...,...,...,...,...,...,...,...
181382,tt9844256,7.5,24,nm0849465,nm0849465,Gorô Taniguchi,NaN,NaN,"director,art_department,writer"
181383,tt9844256,7.5,24,nm0849465,nm0849465,Gorô Taniguchi,NaN,NaN,"director,art_department,writer"
181384,tt9851050,4.7,14,nm1272773,nm1272773,Prachya Pinkaew,1962.0,NaN,"producer,director,writer"
181385,tt9886934,7.0,5,nm0001206,nm0001206,Abel Ferrara,1951.0,NaN,"director,writer,soundtrack"
181386,tt9894098,6.3,128,nm10529107,nm10529107,Naveen Nanjundan,NaN,NaN,director

We are starting to clean the data:
1. Removing duplicate rows

In [54]:
df_duplicates = df_directors.drop_duplicates()
df_duplicates

,movie_id,averagerating,numvotes,person_id,person_id,primary_name,birth_year,death_year,primary_profession
0,tt10356526,8.3,31,nm8353804,nm8353804,Sukh Sanghera,NaN,NaN,"director,cinematographer,location_management"
2,tt10384606,8.9,559,nm9250842,nm9250842,Caolan Robertson,NaN,NaN,"producer,director,writer"
3,tt10384606,8.9,559,nm9932562,nm9932562,George Llewelyn-John,NaN,NaN,"director,cinematographer,writer"
4,tt1042974,6.4,20,nm1915232,nm1915232,Marcel Grant,NaN,NaN,"director,writer,producer"
5,tt1043726,4.2,50352,nm0001317,nm0001317,Renny Harlin,1959.0,NaN,"producer,director,writer"
...,...,...,...,...,...,...,...,...,...
181381,tt9805820,8.1,25,nm3828616,nm3828616,Alexandru Mavrodineanu,NaN,NaN,"director,writer,cinematographer"
181382,tt9844256,7.5,24,nm0849465,nm0849465,Gorô Taniguchi,NaN,NaN,"director,art_department,writer"
181384,tt9851050,4.7,14,nm1272773,nm1272773,Prachya Pinkaew,1962.0,NaN,"producer,director,writer"
181385,tt9886934,7.0,5,nm0001206,nm0001206,Abel Ferrara,1951.0,NaN,"director,writer,soundtrack"
181386,tt9894098,6.3,128,nm10529107,nm10529107,Naveen Nanjundan,NaN,NaN,director

Dropping columns['death_year','birth_year', 'person_id']

In [55]:
df_duplicates.drop(columns=['death_year','birth_year', 'person_id', 'primary_profession'],inplace=True)

C:\Users\HSTEUERNAGLE\AppData\Local\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [56]:
df_duplicates

          movie_id  averagerating  numvotes            primary_name
0       tt10356526            8.3        31           Sukh Sanghera
2       tt10384606            8.9       559        Caolan Robertson
3       tt10384606            8.9       559    George Llewelyn-John
4        tt1042974            6.4        20            Marcel Grant
5        tt1043726            4.2     50352            Renny Harlin
...            ...            ...       ...                     ...
181381   tt9805820            8.1        25  Alexandru Mavrodineanu
181382   tt9844256            7.5        24          Gorô Taniguchi
181384   tt9851050            4.7        14         Prachya Pinkaew
181385   tt9886934            7.0         5            Abel Ferrara
181386   tt9894098            6.3       128        Naveen Nanjundan

[86030 rows x 4 columns]

In [57]:
df_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86030 entries, 0 to 181386
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       86030 non-null  object
 1   averagerating  86030 non-null  float64
 2   numvotes       86030 non-null  int64
 3   primary_name   86030 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ MB

In [58]:
df.isna().sum()

movie_id     0
person_id    0
dtype: int64

Removing null values

In [62]:
df = df_duplicates.dropna()
df_duplicates.isna().sum()

movie_id         0
averagerating    0
numvotes         0
primary_name     0
dtype: int64

In [64]:
df_duplicates

          movie_id  averagerating  numvotes            primary_name
0       tt10356526            8.3        31           Sukh Sanghera
2       tt10384606            8.9       559        Caolan Robertson
3       tt10384606            8.9       559    George Llewelyn-John
4        tt1042974            6.4        20            Marcel Grant
5        tt1043726            4.2     50352            Renny Harlin
...            ...            ...       ...                     ...
181381   tt9805820            8.1        25  Alexandru Mavrodineanu
181382   tt9844256            7.5        24          Gorô Taniguchi
181384   tt9851050            4.7        14         Prachya Pinkaew
181385   tt9886934            7.0         5            Abel Ferrara
181386   tt9894098            6.3       128        Naveen Nanjundan

[86030 rows x 4 columns]

Listed out top 10 directors with the most movies produced

In [68]:
df_duplicates.value_counts("primary_name").head(10)

primary_name
Sergey A.              39
Nayato Fio Nuala       37
Larry Rosen            34
Dustin Ferguson        31
Jason Impey            30
Paul T.T. Easter       28
Michael Fredianelli    28
Tony Newton            27
David DeCoteau         27
William Winckler       25
dtype: int64

Listed out all the movies each of the top 10 directors produced with associated rating

In [70]:
selected_rows = df_duplicates.query("primary_name == 'Sergey A.'")
selected_rows

          movie_id  averagerating  numvotes primary_name
10539    tt8220556            8.0        28    Sergey A.
19415    tt6067750            7.0        55    Sergey A.
21237    tt4654864            7.1        29    Sergey A.
22713    tt4654818            7.5        33    Sergey A.
44205    tt5970646            7.3        37    Sergey A.
44565    tt6737634            6.7        37    Sergey A.
46850    tt7579702            6.7        31    Sergey A.
50606    tt7640228            5.8        48    Sergey A.
53202    tt4168808            7.1       138    Sergey A.
56963    tt6498526            7.2        42    Sergey A.
59477    tt6975700            7.6        34    Sergey A.
60184    tt9820678            9.9        18    Sergey A.
62999    tt4296788            7.6        33    Sergey A.
63547    tt5251598            6.6        44    Sergey A.
64831   tt10015432            8.4        23    Sergey A.
68835    tt5172900            6.6        27    Sergey A.
71653    tt3707708            7.5        34    Sergey A.
72035    tt7716056            6.3        37    Sergey A.
82166   tt10172204            8.4        16    Sergey A.
82353    tt3962384            7.0        43    Sergey A.
82406    tt4071142            7.3        34    Sergey A.
90478    tt8142536            9.1        22    Sergey A.
93090    tt3196884            6.1        63    Sergey A.
94180   tt10096422            8.8        15    Sergey A.
102227   tt7787744            7.2        33    Sergey A.
109702   tt9209662            7.8        30    Sergey A.
117485   tt6489278            7.2        32    Sergey A.
119827   tt5927488            7.8        28    Sergey A.
131694   tt5033000            4.8       191    Sergey A.
135042   tt3382388            7.9        33    Sergey A.
137488  tt10126462            8.3        16    Sergey A.
145278   tt9811598            9.1        21    Sergey A.
154136   tt8017700            7.8        26    Sergey A.
159825   tt6768612            7.5        29    Sergey A.
160237   tt7381320            7.3        30    Sergey A.
173060   tt6219800            7.5        40    Sergey A.
175849   tt8359918            8.0        28    Sergey A.
178872   tt6801858            6.1        41    Sergey A.
179030  tt10366896            8.3        12    Sergey A.

In [71]:
column_mean = df.selected_rows['averagerating'].mean()

AttributeError: 'DataFrame' object has no attribute 'selected_rows'