Hannah Reagan

In [5]:
import pandas as pd
import sqlite3

In [13]:
conn = sqlite3.connect('../../data/im.db')
df = pd.read_sql("""SELECT * FROM movie_ratings;""", conn)

In [14]:
df = pd.read_sql("""SELECT * FROM directors;""", conn)

In [ ]:
q = """
SELECT *
FROM movie_ratings
;
"""
#pd.read_sql(q, conn)

We are joining three tables ( persons, directors,movie ratings) Using movie_id to join directors and movie ratings and person_id to combine that new table to the persons table.

In [49]:
q = """
SELECT *
FROM movie_ratings
JOIN directors
    USING(movie_id)
JOIN Persons
    ON persons.person_id = directors.person_id
;
"""
pd.read_sql(q, conn)
df_directors = pd.read_sql(q, conn)
df_directors

,movie_id,averagerating,numvotes,person_id,person_id,primary_name,birth_year,death_year,primary_profession
0,tt10356526,8.3,31,nm8353804,nm8353804,Sukh Sanghera,NaN,NaN,"director,cinematographer,location_management"
1,tt10356526,8.3,31,nm8353804,nm8353804,Sukh Sanghera,NaN,NaN,"director,cinematographer,location_management"
2,tt10384606,8.9,559,nm9250842,nm9250842,Caolan Robertson,NaN,NaN,"producer,director,writer"
3,tt10384606,8.9,559,nm9932562,nm9932562,George Llewelyn-John,NaN,NaN,"director,cinematographer,writer"
4,tt1042974,6.4,20,nm1915232,nm1915232,Marcel Grant,NaN,NaN,"director,writer,producer"
...,...,...,...,...,...,...,...,...,...
181382,tt9844256,7.5,24,nm0849465,nm0849465,Gorô Taniguchi,NaN,NaN,"director,art_department,writer"
181383,tt9844256,7.5,24,nm0849465,nm0849465,Gorô Taniguchi,NaN,NaN,"director,art_department,writer"
181384,tt9851050,4.7,14,nm1272773,nm1272773,Prachya Pinkaew,1962.0,NaN,"producer,director,writer"
181385,tt9886934,7.0,5,nm0001206,nm0001206,Abel Ferrara,1951.0,NaN,"director,writer,soundtrack"
181386,tt9894098,6.3,128,nm10529107,nm10529107,Naveen Nanjundan,NaN,NaN,director

We are starting to clean the data:
1. Using unique movie_id

In [47]:
df_directors.unique(movie_id)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [43]:
q = """
SELECT *
FROM movie_ratings
JOIN directors
    USING(movie_id)
JOIN Persons
    ON persons.person_id = directors.person_id
GROUP BY primary_name
HAVING averagerating > 7
ORDER BY averagerating 
;
"""
df_directors = pd.read_sql(q, conn)
df_directors.tail(20)

,movie_id,averagerating,numvotes,person_id,person_id,primary_name,birth_year,death_year,primary_profession
20724,tt3450432,9.8,5,nm0085512,nm0085512,Stacey K. Black,NaN,NaN,"make_up_department,director,soundtrack"
20725,tt8986906,9.8,45,nm4036537,nm4036537,Todd Howe,NaN,NaN,"soundtrack,director,actor"
20726,tt9880724,9.8,28,nm6484261,nm6484261,Vyacheslav Bihun,NaN,NaN,"director,writer,producer"
20727,tt9866708,9.9,10,nm5943474,nm5943474,Amoghavarsha,NaN,NaN,"director,cinematographer,writer"
20728,tt9743544,9.9,8,nm10174241,nm10174241,Andrew Jezard,NaN,NaN,"cinematographer,director,producer"
20729,tt9866708,9.9,10,nm4989042,nm4989042,Kalyan Varma,NaN,NaN,"cinematographer,camera_department,miscellaneous"
20730,tt9537008,9.9,417,nm10369569,nm10369569,Nagaraja Uppunda,NaN,NaN,director
20731,tt9747294,9.9,8,nm0768620,nm0768620,Raphael Sbarge,1964.0,NaN,"actor,director,producer"
20732,tt4944240,10.0,5,nm6893562,nm6893562,Chad Carpenter,NaN,NaN,"director,producer,miscellaneous"
20733,tt6991826,10.0,5,nm2751775,nm2751775,Cristina Duarte,NaN,NaN,"actress,director,writer"
20734,tt7259300,10.0,6,nm8791543,nm8791543,Emre Oran,NaN,NaN,"art_director,director,writer"
20735,tt10176328,10.0,5,nm10616933,nm10616933,Ivana Diniz,NaN,NaN,"director,writer"
20736,tt5089804,10.0,7,nm7633303,nm7633303,Lindsay Thompson,NaN,NaN,"cinematographer,director,actress"
20737,tt4960818,10.0,8,nm7223265,nm7223265,Loreto Di Cesare,NaN,NaN,"cinematographer,director,producer"
20738,tt5390098,10.0,5,nm4637768,nm4637768,Masahiro Hayakawa,NaN,NaN,"director,producer"
20739,tt5390098,10.0,5,nm5472684,nm5472684,Michael J. Sanderson,1983.0,NaN,"cinematographer,camera_department,producer"
20740,tt6295832,10.0,5,nm3704168,nm3704168,Michiel Brongers,NaN,NaN,"director,writer"
20741,tt2632430,10.0,5,nm0880350,nm0880350,Mohamed Ulad-Mohand,NaN,NaN,"producer,director,writer"
20742,tt9715646,10.0,20,nm3388005,nm3388005,Stephen Peek,NaN,NaN,"producer,camera_department,cinematographer"
20743,tt5344358,10.0,6,nm6925060,nm6925060,Tristan David Luciotti,NaN,NaN,"actor,writer,producer"